
<head>
 
  <title>Files Page</title>

  <link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/vendor/bootstrap/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!--===============================================================================================-->
</head>

  <div class="wrap-login200">
 
      <div class="container" style="float:right;width:100%">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8"><h2><b>Files</b></h2></div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-info"><i class="fa fa-filter fa-lg" style="color:#DDDDDD;"><!-- icon --></i> Filter BY</button>
              </div>
            </div>
          </div>
          <table class="table table-bordered" style="font-size: 20px;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Creation Date</th>
                <th style="width:26%">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>aaaaaaa</td>
                <td>aaaaaaaa</td>
                <td>aaaaaaaa</td>
                <td>aaaaaaaaaaa</td>
              </tr>
              <tr>
                <td>bbbbbbbbbbb</td>
                <td>bbbbbbbbbbbbb </td>
                <td>bbbbbbbbbbbbbbb</td>
                <td>bbbbbbbbbb</td>
              </tr>
              <tr>
                <td>cccccccccccccc</td>
                <td>cccccccccccccc</td>
                <td>ccccccccccccccc</td>
                <td>ccccccccccccccccc</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
