     
<body >
<div class="wrap-login100">
    <div>
        <span class="login100-form-title">
            Search By File
        </span>
        <form name="form1">

              <div class="login100-form-title">  
                <input type="radio" id="name"
                       name="contact" value="name" (click)="onClickName()">
                <label for="name">Name</label>
                <input type="radio" id="size"
                       name="contact" value="size" (click)="onClickSize()">
                <label for="size">Size</label>
                <input type="radio" id="date"
                       name="contact" value="date" (click)="onClickDate()">
                <label for="date">Date</label></div>
            </form>
            <form name="form1" action="#">
                <div class="wrap-input100">
                    <input class="input100" type="hidden" id="filename" name="fileName1" placeholder="File Name" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
              <div >
           <select class="login100-form-btn " id="dropdown" style="display:none" placeholder="Select Size">
               <a id="first" >Select</a>
               <option value="size" >Select Size</option>
              <option value="0--5 MB" id="5MB">0--5 MB</option>
              <option value="5--10 MB" id="10MB">5--10 MB</option>
              <option value="10--20 MB" id="20MB">10--20 MB</option>
              <option value="20--40 MB" id="40MB">20--40 MB</option>
              <option value="40--80 MB" id="80MB">40--80 MB</option>
              <option value="80--120 MB" id="120MB">80--120 MB</option>
              <option value="20--150 MB" id="150MB">120--150 MB</option>
              <option value="150--200 MB" id="200MB">150--200 MB</option>
              <option value="200--250 MB" id="250MB">200--250 MB</option>
              <option value="250--500 MB" id="500MB">250--500 MB</option>
              <option value="500--800 MB" id="800MB">500--800 MB</option>
              <option value="800--1000 MB" id="1GB">800--1000 MB</option>
              <option value="1--2 GB" id="2GB">1--2 GB</option>
              <option value="2--4 GB" id="4GB">2--4 GB</option>
              <option value="4--6 GB" id="6GB">4--6 GB</option>
              <option value="6--8 GB" id="8GB">6--8 GB</option>
              <option value="8--10 GB" id="10GB">8--10 GB</option>
              <option value="10+ GB" id ="10+GB">10+ GB</option>
              </select>

              </div>
              <div class="container-login100-form-btn">
                  <input class="login100-form-btn " type="hidden" id="myDate"  >

                  </div>
                <div class="container-login100-form-btn">
                    <button  (click)="onClickSubmit()" class="login100-form-btn " id="submitID"   >
                       Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>