<div class="wrap-login200">


  <div class="container" style="float:right;width:100%">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Virtual <b>Machine</b></h2></div>
          <div class="col-sm-4">
            <button type="button" style="background-color:#000000a1; color: white;border-color: #4CAF50;" class="btn btn-info add-new"><i class="fa fa-plus fa-lg" style="color:white;"><!-- icon --></i> Add New</button>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>VMIP</th>
            <th>USERNAME</th>

            <th>PATH</th>
            <th style="width:18%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vm of vms">

            <td>{{vm.ip}}</td>
            <td>{{vm.userName}}</td>

            <td>{{vm.path}}</td>

            <td>
              <a class="search" title="Search" data-toggle="tooltip"><i class="material-icons" (click)="scanVM(vm)">&#xE8B6;</i></a>
              <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div style="float:right;width:100%;margin-top:-250px">
      <div style="width:65%; margin:auto; display:block;" class="container-login100-form-btn">
        <button class="login100-form-btn" (click)="scanAll()">
          Scan Files
        </button>
      </div>

    </div>
  </div>

</div>
