<!-- By: Mariam Alatrash - Nidaa Alqrenawi -->

<div class="wrap-login200">
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2><b>Filter BY: </b></h2></div>
          <div class="col-sm-4">
            <span class="add-new"></span>
          </div>
        </div>
      </div>
      <div style="margin-top:20px;">

        <form (ngSubmit)="onSubmit()">
          <div class="wrap-input100">
            <label>Filter Files By: </label><p></p>
            <mat-radio-group [(ngModel)]="toFilterBy" name="filter" class="s-radio-gp">
              <mat-radio-button class="s-radio-btn" *ngFor="let filter of listFilter" [value]="filter.name">
                {{filter.viewValue}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="toFilterBy==='name'" class="wrap-input100" style="padding-bottom:150px; padding-bottom:20px;">
            <mat-form-field>
              <mat-label>File Name</mat-label>
              <input matInput [(ngModel)]="fileName" name="fileName">
            </mat-form-field>
          </div>


          <div *ngIf="toFilterBy==='size'" class="wrap-input100" style="padding-bottom:150px; padding-bottom:20px;">
            <div class="wrap-input100">
              <mat-form-field>
                <mat-label>Size Value</mat-label>
                <input matInput [(ngModel)]="sizeInput" name="size">
              </mat-form-field>
            </div>

            <div class="wrap-input100">
              <p>Select size unit</p>
              <mat-form-field>
                <mat-label style="color:grey!important;">Size unit</mat-label>
                <mat-select [(ngModel)]="selVal" name="size" disableOptionCentering>
                  <mat-option *ngFor="let size of listSize" [value]="size.value">
                    {{size.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div *ngIf="toFilterBy==='date'" class="wrap-input100" style="margin-top:20px;">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input [(ngModel)]="dateInput" matInput [matDatepicker]="picker" name="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div *ngIf="toFilterBy !== null" class="container-login100-form-btn" style="margin-top:-250px; width:45%; margin:auto; display:block;">
            <button class="login100-form-btn" type="submit">
              Filter
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>



