*{margin:0;padding:0}
body {
    background: linear-gradient(-135deg, #50c4c8, #a7d041);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.form-container{
    width:250px;
    height:auto;
    padding:20px 30px;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
}

.wrap-search {
    -webkit-tap-highlight-color: #a72727;
    text-align=center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16.5;
    color: #212529;
    font-family: Poppins-Regular, sans-serif;
    margin: auto;
    margin-top: 62px;
    margin-bottom: 56px;
    box-sizing: border-box;
    width: 849px;
    height: 814px;
    background: #ffffff;
    border-radius: 37px;
    overflow: overlay;
    display: flex;
    justify-content: space-between;
    padding: 275px;
}
.tybe-search{
    color:black;
    text-align:center;
    font-family:"Times New Roman";
    font-weight: normal;
    
}
.input100 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: manipulation;
    margin: 0;
    overflow: visible;
    outline: none;
    border: none;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}
.wrap-input100 {
    -webkit-tap-highlight-color: transparent;
    font-size: 25px;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    font-family: Poppins-Regular, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.fa {
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    color: #666;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
.focus-input100 {
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Poppins-Regular, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.symbol-input100 {
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    line-height: 1.5;
    font-family: Poppins-Regular, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #9b3232;
    transition: all 0.4s;
}


.search-form-title {
    -webkit-tap-highlight-color: transparent;
    font-weight: 10;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Bold;
    font-size: 36px;
    color: #333;
    line-height: 0;
    text-align: center;
    width: 90%;
    display: block;
    padding-bottom: 15%;
}
.container-search-form-btn {
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: Poppins-Regular, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
    .search-form-btn {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: manipulation;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    outline: none !important;
    border: none;
    font-family: Montserrat-normal;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #000000a1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition-duration: 0.4s;


}
.search-from-dro{
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: manipulation;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    outline: none !important;
    border: none;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition-duration: 0.4s;


}
.search-form-btn:hover {
     background-color: #4CAF50; /* Green */
     color: white;
    }
.date-search{
    
}
