
    <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
            <img src="../../assets/images/img-01.png" alt="IMG">
        </div>
        <div>
            <span class="login100-form-title">
                Virtual Machine Register
            </span>
            <form (ngSubmit)="onSubmit()">
                <div class="wrap-input100">
                <div class="wrap-input100 validate-input" data-validate="wrong IP">
                    <input class="input100" type="text" name='ip' placeholder="xxx.xxx.xxx.xx" autocomplete="off" required [(ngModel)]= "vm.ip" >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-server" aria-hidden="true"></i>
                    </span>
                </div></div>
                <div class="wrap-input100">
                    <div class="wrap-input100 validate-input" data-validate="wrong path">
                    <input class="input100" type="text" name="path" placeholder="Path"required [(ngModel)]="vm.path" >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                     <i class="fa fa-folder" aria-hidden="true" ></i>
                    </span>
                </div></div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>



